.navbar{
    &-brand-logo{
        background-image: url(../images/logo.svg);
        background-size: cover;
        background-repeat: no-repeat;
        @include logo-link;
        height: 18px;
        width: 85px;
        @include pc{
            height: 40px;
            width: 190px;
        }
    }
    &-toggler-logo{
        width: 21px;
        height: 18px;
        &:focus{
            box-shadow: none;
        }
    }
    &-searchBox{
        @include pc-lg{
            width: 288px !important;
        }
        &:focus-visible{
            outline: none;
        }
    }
}

.fa-bars-logo, .fa-xmark-logo{
    font-size: 21px;
    line-height: 1;
}

// wallet mobile button
.wallet{
    &-modal-btn-close{
        right: 12px;
        top: 24px;
    }
    &-img{
        width: 16px;
        height: 16px;
    }
    
}

// check
.hover-check-primary{
    &:hover{
        & .fa-check{
            display: block !important;
            top: 18px;
            right: 16px;
            z-index: 2;
        }
    }
    &:focus{
        & .fa-check{
            display: block !important;
            top: 18px;
            right: 16px;
            z-index: 1;
        }
    }
}

.focus-border-primary{
    &:focus{
        border-color: $primary !important;
    }
}