.index {

    // banner
    &-banner {
        &-img {
            width: 100% !important;
            height: 372px !important;

            @include pc {
                height: 340px !important;
            }
        }

        &-card {
            border: none;
            border-bottom: 2px solid #000;

            @include pc {
                border: 1px solid #000 !important;

                &-top {
                    margin-bottom: -1px;
                }

                &-left {
                    margin-right: -1px;
                }
            }
        }
    }

    // ranking
    &-ranking {
        &-img {
            width: 87px;
            height: 91px;
            margin-top: -1px;
            margin-bottom: -1px;

            img {
                width: 100%;
                height: 100%;

                @include pc {
                    object-position: top;
                }
            }

            &-expand {
                @include pc {
                    width: 100% !important;
                    height: 374px !important;
                    border: none !important;
                    border-bottom: 1px solid #000 !important;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        &-number {
            width: 38px;

            @include pc {
                width: 54px;
            }

            &-expand {
                margin-right: -1px;
                margin-bottom: -1px;

                @include pc {
                    z-index: 10;
                    width: 64px;
                }
            }
        }

        &-card {
            position: relative;

            &:hover {
                .index-ranking-img {
                    position: relative;

                    &::before {
                        content: 'MORE';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: black;
                        opacity: 0.7;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 3;
                        font-family: "Squada One";
                        font-size: 18px;
                        line-height: 18px;

                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        border-left: 16px transparent solid;
                        border-bottom: 16px $primary solid;
                        z-index: 5;
                    }
                }

                .index-ranking-img-expand {

                    &::before {
                        opacity: 0.5;

                        @include pc {
                            content: "";
                        }
                    }

                    &::after {
                        @include pc {
                            border-bottom: 16px #000 solid;
                        }
                    }
                }

                .index-ranking-card-body {
                    @include pc {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "MORE";
                            right: 0;
                            top: -35px;
                            width: 132px;
                            height: 35px;
                            border: 1px solid #000;
                            margin-bottom: -1px;
                            margin-right: -1px;
                            background: $primary;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: "Squada One";
                            color: white;
                            z-index: 4;
                        }
                    }
                }
            }
        }
    }

    // artist
    &-artist {
        &-name{
            left: 24px;
            top: 24px;
            @include pc{
                font-size: 80px;
            }
        }
        &-content {
            @include pc {
                background-color: rgba(255, 255, 255, 0.85) !important;
                width: 307px;
                left: 24px;
                bottom: 24px;
            }
        }

        &-button {
            right: 8px;
            bottom: 8px;

            @include pc {
                right: 24px;
                bottom: 24px;
            }
        }
    }

    // artwork
    &-artwork{
        &-card{
            @include pad{
                border-bottom: 1px solid #000 !important;
            }
        }
        &-img{
            width: 100%;
            &-container{
                position: relative;
                &:hover{
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.7);
                        z-index: 1;
                    }
                    .index-artwork-img-hover-content{
                        visibility: visible;
                    }
                }
            }
            &-hover-content{
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                visibility: hidden;
            }


            &-1{
                height: 139px;
                @include pad{
                    height: 254px;
                }
            }
            &-2{
                height: 151px;
                @include pad{
                    height: 327px;
                }
            }
            &-3{
                height: 93px;
                @include pad{
                    height: 254px;
                }
            }
            &-4{
                height: 173px;
                @include pad{
                    height:169px;
                }
            }
            &-5{
                height: 192px;
                @include pad{
                    height: 174px;
                }
            }
            &-6{
                height: 99px;
                @include pad{
                    height: 254px;
                }
            }
            &-7{
                height: 395px;
            }
            &-8{
                height: 254px;
            }
        }
    }
}

// artist swiper

.swiper {
    height: 352px; // 238 + 72 + 24 + 24(多一行)

    @include mobile-lg{
        height: 328px; // 238 + 72 + 24
    }

    @include pad {
        height: 396px; //300 + 72 + 24
    }

    @include pc {
        height: 439px;
    }

    &-wrapper {
        @include pc{
            display: flex;
            align-items: center;
        }
    }

    &-slide {
        width: 100% !important;
        height: 238px;
        @include pad{
            height: 300px;
        }
        @include pc {
            width: 306px !important;
            height: 262px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-active {
            @include pc {
                width: 636px !important;
                height: 439px;
            }

            .index-artist{
                &-content, &-button, &-name{
                    display: block !important;
                }
            }
        }
    }

    &-pagination {
        position: unset;
        width: auto !important;

        &-bullet {
            width: 8px;
            height: 8px;
            background: black;
            opacity: 1;
            border-radius: 0%;

            &-active {
                width: 16px;
                background: $danger;
                transition: all 0.3s;
            }
        }
    }
}

.swiper-slide-next,
.swiper-slide-prev {
    filter: grayscale(100%);
    filter: gray;
}