// 三角形
.btn-triangle {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px $primary solid;
    }
    &:hover::after {
        border-bottom: 16px black solid;
    }
}

// 白色按鈕
.btn-white {
    background-color: white;
    border: 1px solid black !important;
    &:hover {
        background-color: $primary;
        color: white;
    }
}


.btn-bg-primary:hover {
    background-color: $primary;
    color: white;
    border: 1px solid black;
}

.btn-border-transparent{
    border: 1px solid transparent;
    margin-bottom: -1px;
}