// 三角形
.btn-triangle {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px #E6553B solid;
    }
    &:hover::after {
        border-bottom: 16px black solid;
    }
}

// 白色按鈕
.btn-white {
    background-color: white;
    border: 1px solid black;
    &:hover {
        background-color: #E6553B;
        color: white;
    }
}


.btn-border:hover {
    background-color: #E6553B;
    color: white;
    border: 1px solid black;
}