// text
.hover-text-primary{
    &:hover{
        color: $primary !important;
    }
}

// background
.hover-bg-secondary{
    &:hover{
        background-color: $secondary;
    }
}

// border
.hover-border-primary{
    &:hover{
        border-color: $primary !important;
    }
}

