// 字型
.squada-one{
    font-family: 'Squada One';
}

// 寬度
.w-c-135{
    width: 135px;
}
.w-c-52{
    width: 52px;
}

// 文字方向
.v-lr{
    writing-mode: vertical-lr;
}

// line-height
.lh-c-52{
    line-height: 52px;
}