// 字型
.squada-one{
    font-family: 'Squada One';
}
.paytone-one{
    font-family: 'Paytone One';
}
.notoTC{
    font-family: 'Noto Sans TC';
}

// 寬度
.w-c-135{
    width: 135px;
}
.w-c-52{
    width: 52px;
}

// 文字方向
.v-lr{
    writing-mode: vertical-lr;
}

// line-height
.lh-c-52{
    line-height: 52px;
}
.lh-c-32{
    line-height: 32px;
}

// 字體大小
.fs-c-40{
    font-size: 40px;
}

